<div class="audio-player{{if this.isPlaying ' is-playing'}}">
  <h3>AudioPlayer</h3>
  {{#if @shouldLoop}}
    <audio loop {{play-when this.isPlaying}}>
      <source src={{@srcURL}} />
      <track kind="captions" />
      Your browser does not support the audio element.
    </audio>
  {{else}}
    <audio {{play-when this.isPlaying}}>
      <source src={{@srcURL}} />
      <track kind="captions" />
      Your browser does not support the audio element.
    </audio>
  {{/if}}
  <input type="range" min="0" max="100" step="1" value="20" id="audio-volume" />

  <div class="audio-title">{{split @srcURL delimiter="/" index=3}}</div>

  <button type="button" id="btn-audio-play" {{on "click" this.play}}>
    <FaIcon @icon="play" />
  </button>
  <button type="button" id="btn-audio-pause" {{on "click" this.pause}}>
    <FaIcon @icon="pause" />
  </button>
</div>