<div class="contact-form" data-test-contact-form ...attributes>
  <p>Want to say hello? Have a suggestion for this app? Drop me a line.</p>

  <form {{on "submit" this.handleSubmit}} data-test-form>
    <div class="item" data-test-name>
      <label for="name"></label>
      <input
        value={{this.name}}
        {{on "input" this.handleInput}}
        autocapitalize="off"
        autocorrect="off"
        id="name"
        class="light{{if this.errors.name ' error'}}"
        placeholder="Name"
      />
      {{#if this.errors.name}}
        <div class="validation-error">{{this.errors.name}}</div>
      {{/if}}
    </div>
    <div class="item" data-test-email>
      <label for="email"></label>
      <input
        value={{this.email}}
        {{on "input" this.handleInput}}
        autocapitalize="off"
        autocorrect="off"
        id="email"
        class="light{{if this.errors.email ' error'}}"
        placeholder="Email"
      />
      {{#if this.errors.email}}
        <div class="validation-error">{{this.errors.email}}</div>
      {{/if}}
    </div>
    <div class="item" data-test-message>
      <label for="message"></label>
      <textarea
        value={{this.message}}
        {{on "input" this.handleInput}}
        id="message"
        class="light{{if this.errors.message ' error'}}"
        placeholder="Message"
      />
      {{#if this.errors.message}}
        <div class="validation-error">{{this.errors.message}}</div>
      {{/if}}
    </div>

    <button type="submit" data-test-submit>
      Send Message
    </button>
  </form>
</div>