<p><em>Note</em>: new messages will not be saved (...yet)!</p>

<div class="messages">
  {{#each this.messages as |message index|}}
    <Message
      @id="message-{{index}}"
      @username={{message.username}}
      @userIsActive={{message.active}}
      @userIsCurrent={{message.current}}
      @userLocalTime={{message.localTime}}
    >
      {{sanitize message.content}}
    </Message>
  {{else}}
    No messages yet. Add one below!
  {{/each}}

  <NewMessageInput @onCreate={{this.addMessage}} />
</div>