<div class="messages">
  {{#each this.messages as |message|}}
    <Message
      @username={{message.username}}
      @userIsActive={{message.active}}
      @userIsCurrent={{message.current}}
      @userLocaltime={{message.localTime}}
    >
      {{! template-lint-disable no-triple-curlies }}
      {{{message.content}}}
    </Message>
  {{/each}}

  <NewMessageInput @onCreate={{this.addMessage}} />
</div>