<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>{{t "general.siteTitle"}}</h1>
  </LinkTo>

  <div class="links">
    {{#each this.routes as |route|}}
      <LinkTo
        @route={{route.route}}
        class="menu-{{route.route}}"
        target={{route.target}}
      >
        {{route.title}}
      </LinkTo>
    {{/each}}
  </div>
</nav>