<div class="contact-form" data-test-contact-form ...attributes>
  <p>{{t "sections.contact.description"}}</p>

  <form {{on "submit" this.handleSubmit}} data-test-form>
    <div class="item" data-test-name>
      <label for="name"></label>
      <input
        autocapitalize="off"
        autocorrect="off"
        class="light{{if this.errors.name ' error'}}"
        id="name"
        name="name"
        placeholder={{t "general.name"}}
        value={{this.name}}
        {{on "input" this.handleInput}}
      />
      {{#if this.errors.name}}
        <div class="validation-error">{{this.errors.name}}</div>
      {{/if}}
    </div>
    <div class="item" data-test-email>
      <label for="email"></label>
      <input
        autocapitalize="off"
        autocorrect="off"
        class="light{{if this.errors.email ' error'}}"
        id="email"
        name="email"
        placeholder={{t "general.email"}}
        value={{this.email}}
        {{on "input" this.handleInput}}
      />
      {{#if this.errors.email}}
        <div class="validation-error">{{this.errors.email}}</div>
      {{/if}}
    </div>
    <div class="item" data-test-message>
      <label for="message"></label>
      <textarea
        class="light{{if this.errors.message ' error'}}"
        id="message"
        name="message"
        placeholder={{t "general.message"}}
        value={{this.message}}
        {{on "input" this.handleInput}}
      />
      {{#if this.errors.message}}
        <div class="validation-error">{{this.errors.message}}</div>
      {{/if}}
    </div>

    <button type="submit" data-test-submit>
      {{t "general.sendMessage"}}
    </button>
  </form>
</div>