{{! ember-cli-head }}
<HeadLayout />

<div class="application-wrapper">
  <TomsterPopper />

  <Layout::Ribbon @position="right" @content={{this.env}} />

  <header>
    <Layout::NavBar />
  </header>

  <main>
    {{outlet}}
  </main>

  <Debug
    @ghUsername={{@model.ghUsername}}
    @ghHtmlUrl={{@model.ghHtmlUrl}}
    @ghPublicRepos={{@model.ghPublicRepos}}
    @ghPublicGists={{@model.ghPublicGists}}
    @ghFollowers={{@model.ghFollowers}}
    @ghFollowing={{@model.ghFollowing}}
    @isExpanded={{this.debugVisibility}}
  />

  <Layout::Footer />
</div>