{{! ember-cli-head }}
<HeadLayout />

<Ribbon @position="right" @content={{this.env}} />

<header>
  <NavBar />
</header>

<main>
  {{outlet}}
</main>

<details class="debug">
  <summary>Debugging</summary>
  <div class="gallery">
    <DoubleIt />
    {{#if (eq this.env "production")}}
      <AudioPlayer
        @srcURL="https://neb.host/files/p/fezzish.mp3"
        @shouldLoop={{true}}
      />
    {{else}}
      <AudioPlayer @srcURL="/assets/audio/fezzish.mp3" @shouldLoop={{true}} />
    {{/if}}
  </div>
</details>

<Footer />