{{! ember-cli-head }}
<HeadLayout />

<Layout::Ribbon @position="right" @content={{this.env}} />

<header>
  <Layout::NavBar />
</header>

<main>
  {{outlet}}
</main>

<Debug
  @ghUsername={{@model.ghUsername}}
  @ghPublicRepos={{@model.ghPublicRepos}}
  @isExpanded={{this.debugIsExpanded}}
/>

<Layout::Footer />