<title>({{this.model.envTitle}})
  {{this.model.title}}{{if
    this.model.routeTitle
    (concat " | " this.model.routeTitle)
  }}</title>

{{! template-lint-disable no-forbidden-elements }}
<meta property="og:title" content={{this.model.ogTitle}} />

<link
  rel="shortcut icon"
  href="../assets/images/favicon-{{this.model.faviconType}}.ico"
/>